html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

text {
  fill: currentColor;
}

#app {
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  background: var(--primary-bg);
  color: var(--primary-color);
}
