.app {
  &__limit-max-width {
    max-width: calc(var(--grid-items-per-axis) * (var(--grid-gap) + var(--grid-item-size)) - var(--grid-gap));
    width: 100%;
  }
  &__make-secondary {
    font-weight: var(--secondary-font-weight);
    font-size: var(--secondary-font-size);
    background: var(--secondary-bg);
    color: var(--secondary-color);
  }
  &__create-grid {
    @mixin grid($columns, $rows, $gap: var(--grid-gap)) {
      display: grid;
      grid-template-columns: repeat($columns, minmax(0, 1fr));
      grid-template-rows: repeat($rows, auto);
      gap: $gap;
      > * {
        display: grid;
        aspect-ratio: 1 / 1;
        > * {
          grid-area: 1 / 1;
        }
      }
    }
    &--for-board {
      @include grid(var(--grid-items-per-axis), var(--grid-items-per-axis));
    }
    &--for-rack {
      @include grid(8, 1, calc(var(--grid-gap) * 2));
    }
  }
}
