@mixin light-scheme() {
  --primary-font-weight: var(--font-weight-small);
  --primary-font-size: var(--font-size);
  --primary-color: var(--color-zinc-900);
  --primary-bg: var(--color-zinc-100);
  --secondary-font-size: var(--font-size-small);
  --secondary-color: var(--color-zinc-500);
  --cell-color-dw: var(--color-sky-700);
  --cell-color-tw: var(--color-red-500);
  --cell-color-dl: var(--color-emerald-500);
  --cell-color-tl: var(--color-yellow-500);
  --cell-bg: var(--color-white);
  --cell-bg-center: var(--color-violet-400);
  --cell-bg-footer: var(--color-zinc-200);
  --cell-shadow: var(--box-shadow-level-0);
  --cell-shadow-footer: var(--box-shadow-inner);
  --tile-color: var(--primary-color);
  --tile-color-inverted: var(--color-zinc-100);
  --tile-bg: var(--color-fuchsia-200);
  --tile-bg-inverted: var(--color-indigo-600);
  --tile-bg-saturated: var(--color-fuchsia-400);
  --tile-outline-color: var(--color-violet-600);
  --btn-bg: transparent;
  --btn-bg-hover: var(--color-zinc-50);
  --btn-bg-active: var(--color-zinc-200);
  --btn-border-color-hover: var(--color-zinc-500);
  --btn-border-color: var(--color-zinc-400);
  --btn-font-weight: var(--font-weight);
  --btn-font-size: var(--font-size-small);
  --btn-color: var(--primary-color);
  --btn-box-shadow: var(--box-shadow-level-0);
  --btn-box-shadow-hover: var(--box-shadow-level-1);
  --dialog-color: var(--color-zinc-100);
  --dialog-bg: var(--color-zinc-800);
  --dialog-btn-border: 1px solid var(--color-zinc-50);
  --dialog-btn-bg-hover: var(--color-zinc-700);
  --dialog-btn-bg-active: var(--color-zinc-900);
  --box-shadow-level-0: 0 1px 2px var(--color-zinc-200);
  --box-shadow-level-1: 0 1px 3px 0 var(--color-zinc-300), 0 1px 2px -1px var(--color-zinc-300);
  --box-shadow-inner: inset 0 1px 2px 0 var(--color-zinc-300);
}

@mixin dark-scheme() {
  --primary-font-weight: var(--font-weight-smaller);
  --primary-font-size: var(--font-size);
  --primary-color: var(--color-white);
  --primary-bg: var(--color-blue-950);
  --secondary-font-size: var(--font-size-small);
  --secondary-color: var(--color-zinc-200);
  --cell-color-dw: var(--color-cyan-500);
  --cell-color-tw: var(--color-red-500);
  --cell-color-dl: var(--color-emerald-500);
  --cell-color-tl: var(--color-amber-500);
  --cell-bg: var(--color-slate-900);
  --cell-bg-center: var(--color-indigo-900);
  --cell-bg-footer: var(--color-indigo-950);
  --cell-shadow: inset 0 1px 2px 0 var(--color-zinc-900);
  --cell-shadow-footer: var(--box-shadow-inner);
  --tile-color: var(--color-zinc-900);
  --tile-color-inverted: var(--color-zinc-900);
  --tile-bg: var(--color-emerald-500);
  --tile-bg-inverted: var(--color-zinc-200);
  --tile-bg-saturated: var(--color-emerald-300);
  --tile-outline-color: var(--color-white);
  --btn-bg: transparent;
  --btn-bg-hover: var(--color-indigo-900);
  --btn-bg-active: var(--color-indigo-950);
  --btn-border-color-hover: var(--color-zinc-200);
  --btn-border-color: var(--color-zinc-300);
  --btn-font-weight: var(--font-weight-small);
  --btn-font-size: var(--font-size);
  --btn-color: var(--primary-color);
  --btn-box-shadow: var(--box-shadow-level-0);
  --btn-box-shadow-hover: var(--box-shadow-level-1);
  --dialog-color: var(--color-zinc-900);
  --dialog-bg: var(--color-zinc-100);
  --dialog-btn-border: 1px solid var(--color-zinc-900);
  --dialog-btn-bg-hover: var(--color-white);
  --dialog-btn-bg-active: var(--color-zinc-300);
  --box-shadow-level-0: 0 1px 2px var(--color-blue-950);
  --box-shadow-level-1: 0 1px 3px 0 var(--color-slate-900), 0 1px 2px -1px var(--color-slate-900);
  --box-shadow-inner: inset 0 1px 2px 0 var(--color-slate-900);
}

:root {
  --primary-border: 1px solid var(--btn-border-color);
  --primary-padding: var(--space-s);
  --primary-border-radius: 2px;
  --cell-tile-width: var(--space-4xl);
  --cell-tile-gap: var(--space-2xs);
  --cell-tile-border-radius: var(--space-xs);
  --opacity-disabled: 0.7;
  @include light-scheme;
  @media (prefers-color-scheme: dark) {
    // @include dark-scheme;
  }
}

#app {
  background: var(--primary-bg);
  color: var(--primary-color);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
}

.app {
  &__limit-max-width {
    max-width: calc(var(--cell-count-per-axis) * (var(--cell-tile-gap) + var(--cell-tile-width)) - var(--cell-tile-gap));
    width: 100%;
  }
  &__make-secondary {
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
  }
  &__create-grid {
    @mixin grid($columns, $rows, $gap: var(--cell-tile-gap)) {
      display: grid;
      grid-template-columns: repeat($columns, minmax(0, 1fr));
      grid-template-rows: repeat($rows, auto);
      gap: $gap;
      > * {
        display: grid;
        aspect-ratio: 1 / 1;
        > * {
          grid-area: 1 / 1;
        }
      }
    }
    &--for-board {
      @include grid(var(--cell-count-per-axis), var(--cell-count-per-axis));
    }
    &--for-rack {
      @include grid(8, 1, calc(var(--cell-tile-gap) * 2));
    }
  }
}
