:root {
  --text-shadow-color: black;

  --text-shadow-2xs: 0px 1px 0px color-mix(in oklch, var(--text-shadow-color) 15%, transparent);
  --text-shadow-xs: 0px 1px 1px color-mix(in oklch, var(--text-shadow-color) 20%, transparent);
  --text-shadow-sm: 0px 1px 0px color-mix(in oklch, var(--text-shadow-color) 7.5%, transparent), 0px 1px 1px color-mix(in oklch, var(--text-shadow-color) 7.5%, transparent), 0px 2px 2px color-mix(in oklch, var(--text-shadow-color) 7.5%, transparent);
  --text-shadow-md: 0px 1px 1px color-mix(in oklch, var(--text-shadow-color) 10%, transparent), 0px 1px 2px color-mix(in oklch, var(--text-shadow-color) 10%, transparent), 0px 2px 4px color-mix(in oklch, var(--text-shadow-color) 10%, transparent);
  --text-shadow-lg: 0px 1px 2px color-mix(in oklch, var(--text-shadow-color) 10%, transparent), 0px 3px 2px color-mix(in oklch, var(--text-shadow-color) 10%, transparent), 0px 4px 8px color-mix(in oklch, var(--text-shadow-color) 10%, transparent);
  --text-shadow-none: none;
}
