@mixin light-theme() {
  --primary-font-weight: var(--font-weight);
  --primary-font-size: var(--font-size);
  --primary-bg: var(--color-gray-200);
  --primary-color: var(--color-gray-950);
  --secondary-font-weight: var(--primary-font-weight);
  --secondary-font-size: var(--font-size-small);
  --secondary-bg: transparent;
  --secondary-color: var(--color-gray-500);
  --outline-color: var(--color-rose-500);
  --progress-color: var(--primary-color);
  --cell-bg: var(--color-gray-50);
  --cell-bg-highlighted: var(--color-gray-300);
  --cell-color-quaternary: var(--color-gray-400);
  --cell-color-tertiary: var(--color-gray-500);
  --cell-color-secondary: var(--color-gray-600);
  --cell-color-primary: var(--color-gray-700);
  --cell-shadow: none;
  --tile-bg-primary: var(--color-gray-800);
  --tile-color-primary: var(--color-gray-200);
  --tile-pts-color-primary: var(--color-gray-300);
  --tile-bg-secondary: var(--color-gray-600);
  --tile-color-secondary: var(--color-gray-200);
  --tile-pts-color-secondary: var(--color-gray-300);
  --tile-bg-tertiary: var(--color-gray-500);
  --tile-color-tertiary: var(--color-gray-200);
  --tile-pts-color-tertiary: var(--color-gray-300);
  --tile-outline: 2px solid var(--color-gray-900);
  --tooltip-bg: var(--color-gray-950);
  --tooltip-color: var(--color-gray-50);
  --alert-bg: var(--color-gray-50);
  --alert-color: var(--color-gray-950);
  --toolbar-cell-bg: var(--color-gray-300);
  --toolbar-cell-shadow: var(--inset-shadow-s);
  --btn-bg-primary: var(--color-gray-900);
  --btn-color-primary: var(--color-gray-50);
  --btn-border-color-primary: transparent;
  --btn-bg-primary-hover: var(--color-gray-800);
  --btn-color-primary-hover: var(--color-white);
  --btn-border-color-primary-hover: transparent;
  --btn-bg-primary-active: var(--color-gray-950);
  --btn-color-primary-active: var(--color-gray-200);
  --btn-border-color-primary-active: transparent;
  --btn-bg-secondary: var(--color-gray-50);
  --btn-color-secondary: var(--color-gray-800);
  --btn-border-color-secondary: var(--color-gray-400);
  --btn-bg-secondary-hover: var(--color-white);
  --btn-color-secondary-hover: var(--color-gray-950);
  --btn-border-color-secondary-hover: var(--color-gray-950);
  --btn-bg-secondary-active: var(--color-gray-100);
  --btn-color-secondary-active: var(--color-gray-700);
  --btn-border-color-secondary-active: var(--color-gray-500);
  --btn-bg-disabled: var(--primary-bg);
  --btn-color-disabled: oklch(from var(--primary-color) l c h / 50%);
  --btn-border-color-disabled: oklch(from var(--primary-color) l c h / 30%);
  --radio-group-bg: var(--color-gray-300);
  --radio-group-color: var(--color-gray-600);
  --radio-group-color-hover: var(--color-gray-900);
  --radio-group-bg-selected: var(--color-gray-50);
  --radio-group-color-selected: var(--color-gray-800);
}
