@keyframes horizontal-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

@keyframes double-tap {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  5% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  15% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
