@mixin emit-components() {
  --btn-radius: var(--space-xs);
  --btn-width: calc(var(--space-6xl) * 2);
  --btn-height: var(--space-5xl);
  --dialog-radius: var(--space-s);
  --tooltip-radius: var(--space-3xs);
}
